################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reusefull-react.client/obj/Debug
/Reusefull-react.Server
/obj/Debug
/node_modules
node_modules/
/Lambdas/GetCharityTypes/bin
/Lambdas/GetCharityTypes/obj
/Lambdas/GetCharityTypes/publish
/Lambdas/GetCharityTypes/.vs
/Lambdas/GetCharityTypes/.aws-sam
/Lambdas/GetCharityTypes/readme.md
/Lambdas/GetItemTypes/bin
/Lambdas/GetItemTypes/obj
/Lambdas/GetItemTypes/publish
/Lambdas/GetItemTypes/.vs
/Lambdas/GetOrgs/bin
/Lambdas/GetOrgs/obj
/Lambdas/GetOrgs/publish
/Lambdas/GetOrgs/.vs
/Lambdas/GetOrgItems/bin
/Lambdas/GetOrgItems/obj
/Lambdas/GetOrgItems/publish
/Lambdas/GetOrgItems/.vs
/Lambdas/.vs
/Lambdas/ReusefullCommonLibrary/bin/Debug/net8.0
/Lambdas/ReusefullCommonLibrary/obj
dist/
reusefull-api/dist/
.env
*.env
