################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reusefull-react.client/obj/Debug
/Reusefull-react.Server
/obj/Debug
/node_modules
node_modules/
/Lambdas/GetCharityTypes/bin
/Lambdas/GetCharityTypes/obj
/Lambdas/GetCharityTypes/publish
/Lambdas/GetCharityTypes/.vs
/Lambdas/GetCharityTypes/.aws-sam
/Lambdas/GetItemTypes/GetItemTypes/.vs
/Lambdas/GetItemTypes/GetItemTypes/obj
/Lambdas/GetCharityTypes/readme.md
/Lambdas/GetItemTypes/GetItemTypes/bin/Debug/net8.0
/Lambdas/GetItemTypes/.vs/GetItemTypes
/Lambdas/GetItemTypes/obj
/Lambdas/GetItemTypes/bin/Debug/net8.0
