################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reusefull-react.client/obj/Debug
/Reusefull-react.Server
/obj/Debug
/node_modules
node_modules/
/Lambdas/GetCharityTypes/bin
/Lambdas/GetCharityTypes/obj
/Lambdas/GetCharityTypes/publish
/Lambdas/GetCharityTypes/.vs
/Lambdas/GetCharityTypes/.aws-sam
/Lambdas/GetItemTypes/GetItemTypes/.vs
/Lambdas/GetItemTypes/GetItemTypes/obj
/Lambdas/GetCharityTypes/readme.md
/Lambdas/GetItemTypes/GetItemTypes/bin/Debug/net8.0
/Lambdas/GetItemTypes/.vs/GetItemTypes
/Lambdas/GetItemTypes/obj
/Lambdas/GetItemTypes/bin/Debug/net8.0
/Lambdas/GetItemTypes/.vs/ProjectEvaluation
/Lambdas/GetItemTypes/bin/Debug/net6.0
/Lambdas/GetOrgs/.vs/GetItemTypes/copilot-chat/0f468237/sessions
/Lambdas/GetOrgs/.vs/GetItemTypes/CopilotIndices/0.2.1653.9816
/Lambdas/GetOrgs/.vs/GetItemTypes/DesignTimeBuild
/Lambdas/GetOrgs/.vs/GetItemTypes/FileContentIndex
/Lambdas/GetOrgs/.vs
/Lambdas/GetOrgs/bin/Debug
/Lambdas/GetOrgs/obj
